.text {
  width: 70%;
  background-color: #252931;
  border: none !important;
  margin-top: 50px;
  color: #d4d4d4;
  margin: auto;
  background-color: #282828;
  padding: 15px;
}

.buttons {
  width: auto;
  margin: auto;
  text-align: center;
}

.btn-primary {
  margin-bottom: 15px;
}

body {
  background-color: #121212;
}
